<ion-header [translucent]="true">
  <ion-toolbar style="background-color: lightblue">
     <ion-title style="text-align: center;"  position="floating">Aide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  

  <ion-card>

    <ion-header style="margin: 0 5px 0 5px" >
      <ion-item color="warning">
        <ion-icon name="information-circle-outline" style="margin: 0 5px 0 5px"></ion-icon>
        <ion-label text-wrap> Comment on peut se protéger de l'infection ?</ion-label>
      </ion-item>
    </ion-header>

    <ion-list>
      <ion-item>
        <ion-label class="infection" style="text-align : justify" text-wrap>1. Ne voyagez pas dans les régions ou pays contaminés.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="infection" style="text-align : justify" text-wrap>2. Quannd vous toussez ou éternuez, faites-le dans votre coude ou dans un mouchoir. Evitez d'utiliser vos mains !</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="infection" style="text-align : justify" text-wrap>3. Lavez-vous les mains fréquemment et soigneusement avec l'eau et le savon.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="infection" style="text-align : justify" text-wrap>4.Evitez les personnes évidemment malades, les lieux avec haute concentration de personnes.</ion-label>
      </ion-item>
    </ion-list>

  </ion-card>



  <ion-card>

    <ion-header style="margin: 0 5px 0 5px" >
      <ion-item color ="danger">
        <ion-icon name="warning-outline" style="margin: 0 5px 0 5px"></ion-icon>
        <ion-label text-wrap> Je pense que je suis infecté. Qu'est ce que je devrais faire maintenant ?</ion-label>
      </ion-item>
    </ion-header>

    <ion-list>
      <ion-item>
        <ion-label class="infection" style="text-align : justify" text-wrap>1. Informez l'institution ou l'agence de santé dans votre pays avec le numéro d'urgence dédié à cette situation.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="infection" style="text-align : justify" text-wrap>2. S'auto isoler à la maison a été recommandé pour les personnes diagnostiqués avec COVID-19 et celles qui soupçonnent qu'elles ont été inféctées.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="infection" style="text-align : justify" text-wrap>3. N'allez pas au travail, à l'école ou aux lieux publiques. Evitez d'utiliser le transport publique, le covoiturage, ou les taxis.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="infection" style="text-align : justify" text-wrap>4. Les services de santé publique ont publié des instructions d'auto-isolement qui incluent la notification des fournisseurs de soin de santé par téléphone et de restriction de toutes les activités en extérieur, sauf pour obtenir du soin médical.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="infection" style="text-align : justify" text-wrap>5. L'utilisation de stéroides peut aggraver l'état du patient !</ion-label>
      </ion-item>
    </ion-list>

  </ion-card>


</ion-content>
