<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;" position="floating">Symptômes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

  
  <ion-item>
    <ion-label style="text-align : justify" class="symptômes" text-wrap>Les symptômes principaux de l'infection sont la fièvre, la toux, l'essouflement et des signes de difficultés respiratoires. Dans les états graves, l'infection peut causer la pneumonie, le syndrome respiratoire aigu sévère, insuffisance rànale ou même le décès. </ion-label>
  </ion-item>

  <ion-card>
  <ion-list>
    <ion-item>
      <ion-label text-wrap>Fièvre</ion-label>
      <ion-badge color="danger" slot="end">87.9%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Toux séches</ion-label>
      <ion-badge color="danger" slot="end">67.7%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Fatigue</ion-label>
      <ion-badge color="danger" slot="end">38.1%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Expectoration</ion-label>
      <ion-badge color="danger" slot="end">33.4%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Essouflement</ion-label>
      <ion-badge color="danger" slot="end">18.6%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Douleurs musculaires</ion-label>
      <ion-badge color="danger" slot="end">14.8%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Gorge irritée</ion-label>
      <ion-badge color="danger" slot="end">13.9%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Mal de tête</ion-label>
      <ion-badge color="danger" slot="end">13.6%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Frissons</ion-label>
      <ion-badge color="danger" slot="end">11.4%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Nausée ou vaumissement</ion-label>
      <ion-badge color="danger" slot="end">5.0%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Congestion nasale</ion-label>
      <ion-badge color="danger" slot="end">4.8%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Diarrhée</ion-label>
      <ion-badge color="danger" slot="end">3.7%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Hémoptysie</ion-label>
      <ion-badge color="danger" slot="end">0.9%</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Congestion conjonctivale</ion-label>
      <ion-badge color="danger" slot="end">0.9%</ion-badge>
    </ion-item>
  </ion-list>
</ion-card>

<ion-item>
  <ion-label class ="source" style="text-align : center" color="danger" font-size="bold" text-wrap><u><b>Source :</b></u> Centers for Disease Pontrol and Prevention </ion-label>
</ion-item>

</ion-content>
